*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav ul{display: flex; justify-content: center; padding: 20px; background-color: rgb(229, 234, 237);}

li{
  list-style: none;
  margin: 0px 20px;
}

li a{
  text-decoration: none;
  padding: 10px 20px;
  background-color: aqua;
}

h1{-webkit-text-stroke: 2px; -webkit-text-stroke-color: red; font-weight: bold;font-size: 200px;}